@import "tailwindcss";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-marcellus), serif;
  }
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #EEF7FF;
  scroll-behavior: smooth;
}